{% extends "layout/basic.html" %}

{% block title %}
    {{ current_brand.name }}
{% endblock title %}

{% block content %}
    <h2>Товары бренда: {{ current_brand.name }}</h2>
    <hr>
    {% for brand in brands %}
        <a href="{% url 'by_brand' brand.pk %}">{{ brand.name }}</a>
    {% endfor %}
    {% for name in names %}
        <div>
            <h2>{{ name.title }}</h2>
            <p>{{ name.content }}</p>
            <p>{{ name.price }} рублей</p>
        </div>
    {% endfor %}
{% endblock content %}


<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ current_rubric.name }} - Дневник ЦПФ</title>
</head>
<body>
    <h1>Задания</h1>
    <h2>Комлектующее: {{ current_rubric.name }}</h2>
    <div>
        <a href="/">Главная</a>
        <a href="{% url "add" %}">Добавить</a>
        {% for rubric in rubrics %}
            <a href="/{{ rubric.pk }}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i" }}</p>
        </div>
    {% endfor %}

</body>
</html> -->